
SteamApiSchnitstelle/.vs/SteamApiSchnitstelle/FileContentIndex/bc99dc78-e23d-4b3f-b408-0dfd48a2fa17.vsidx
SteamApiSchnitstelle/.vs/SteamApiSchnitstelle/FileContentIndex/ce64b0c8-d6df-4e7c-9137-d8e8277fc67f.vsidx
SteamApiSchnitstelle/.vs/SteamApiSchnitstelle/FileContentIndex/3f78ec0f-8c26-42e6-b593-0c0a6e841286.vsidx
